@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 84px;
            background: #FAF6F6;
        }
    &__burger {
        width: 39px;
        height: 35px;
        border: none;
        cursor: pointer;
    }
    &__contacts {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 84px;
        color: $default;
        
    }    
    
}

.menu{
    &__list {
        display: flex;
        }
    &__item {
        padding-right: 51px;
    }
    &__link {
        @extend %main-font;
        color: $default;
        &:hover {
                color: #000000;
            }
    }    
}
.phone {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 24px;
    background: url(../images/phone-icon.svg) no-repeat 0% 50%;
}
.email {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 24px;
    background: url(../images/envelop-icon.svg) no-repeat 0% 50%;
}
.hero {
    margin-left: 95px;
    margin-bottom: 100px;
    &__top {
        height: 430px;
        margin-bottom: 75px;
        padding: 355px 0 27px 70px; 
        background: url(../images/ферма1.jpg) no-repeat,
                    url(../images/ферма2.jpg) no-repeat 100% 50%;
    }
    &__bottom {
        height: 436px;
        padding: 355px 0 27px 70px;
        background: url(../images/Транс1.jpg) no-repeat,
                    url(../images/Транс2.jpg) no-repeat 100% 50%;
    }
    &__title {
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #F1E7E7;
        background: rgba(45, 36, 36, 0.4);
        &:hover {
                color: tomato;
            }
    }
}

.equipment {
    margin-left: 95px;
    &__title {
        margin-left: 44px;
    }
    &__galery {
        margin: 33px 22px 96px 44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card__img {
    width: 370px;
    height: 322px;
    margin-bottom: 16px;
}
.card__link {
    color: $default;
    font-size: 24px;
    line-height: 29px;
    &:hover {
        color: #000000;
        font-weight: 700;
    }
}

.footer {
    &__inner {
        height: 84px;
        padding: 24px 200px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FAF6F6;
        }
    &__logo {
        display: flex;
        font-size: 16px;
        line-height: 20px;
        color: $default;
        img {
            margin-right: 5px;
        }
    }     
}

.side-menu {
    position: absolute;
    left: 61px;
    top: 31px;
    max-width: 901px;
    width: 100%;
    min-height: 557px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 5;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 0.5s;
    &.side-menu--close {
            transform: translateX(-300%);
        }
    &__close {
        position: absolute;
        top: 10px;
        right: 12px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    &__content {
        margin-top: 51px;
        margin-left: 26px;
        display: flex;
    }
    &__column {
        max-width: 220px;
        margin-right: 26px;
    }
    &__list {
        margin-left: 20px;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 14px;
    }
    h5 {
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
        margin-bottom: 14px;
    }
    &__item {
        margin-bottom: 14px;
    }
    &__link {
        color: $default;
        font-size: 14px;
        line-height: 17px;
        &:hover {
            color: #000;
        }
    }
}

.solution {
    margin: 45px 86px 0 120px;
    &__title {
        margin-bottom: 32px;
    }
    &__promo {
        font-size: 16px;
        line-height: 20px;
        color: $default;
        margin-bottom: 40px;
    }
    &__images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 52px;
    }
}
.content {
    &__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        color: $default;
        margin-bottom: 50px;
    }
    &__list {
        margin-left: 17px;
    }
}